/* Make full screen and center content */
body, html {
  height: 100%;
  margin: 0;
 
  background-image: url('wall.png');
  background-size: cover;
  background-position: center;



  
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  row-gap: 40px;
  width: 300px;
  margin: auto;
  height: 100vh;
}

/* Style each button */
.item {
  width: 48%;
  background-color: #c01b1b;
  text-align: center;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #999;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.item:hover {
  background-color: #eab8b8;
}