.fle{

display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
 margin-left: 450px;

width: 300px;
  height: 100vh;

}
.item{

width: 48%;
  background-color: #c01b1b;
  text-align: center;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #999;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;




}
.item:hover{
 background-color: #eab8b8;
}
body, html {
  height: 100%;
  margin: 0;
 
  background-image: url('wall.png');
  background-size: cover;
  background-position: center;



  
}
.results {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 1000px;
}


#output {
  background-color: white;
  color: darkred;
  font-size: 28px;
  padding: 20px 30px;
  border-radius: 12px;
  border: 2px solid darkred;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  text-align: center;
}
